@using WebStore.ViewModels.ItemViewModels
@{
    ViewData["Title"] = "Strona główna";
}
@model WebStore.ViewModels.ItemViewModels.HomePageItemsViewModel

<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free E-Commerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/home/girl1.jpg" class="girl img-responsive" alt="" />
                                <img src="~/images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>100% Responsive Design</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/home/girl2.jpg" class="girl img-responsive" alt="" />
                                <img src="~/images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free Ecommerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/home/girl3.jpg" class="girl img-responsive" alt="" />
                                <img src="~/images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->


<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="left-sidebar">
                <h2>Kategorie</h2>
                <div class="panel-group category-products" id="accordian">
                    <!--category-products-->
                    
                    @{
                        void recursiveCategoryDisplay(Category categoryObj)
                        {

                            if(categoryObj.ChildCategories.Any())
                            {
                                <div class="panel panel-default">
                                   <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#@(categoryObj.Id)">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            @categoryObj.Name
                                        </a>
                                    </h4>
                                </div>

                                    <div id="@(categoryObj.Id)" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                @foreach(var category in categoryObj.ChildCategories)
                                                {
                                                    recursiveCategoryDisplay(category);
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                } else
                                {
                                   @Html.ActionLink(@categoryObj.Name, "Category", new { id = @categoryObj.Id}, null) 
                                }

                            }

                            foreach(var categoryVM in Model.categories) {
                                if (categoryVM.ChildCategories.Any())
                                {
                                    recursiveCategoryDisplay(categoryVM);  

                                } else
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">@Html.ActionLink(@categoryVM.Name, "Category", new { id = @categoryVM.Id}, null) </h4>
                                        </div>
                                    </div>
                                }
                                
                        }
                    }
                </div>

                <!--/category-products-->                  

                <div class="price-range">
                    <!--price-range-->
                    <h2>Przedział cenowy</h2>
                    <div class="well text-center">
                        <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                        <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
                    </div>
                </div><!--/price-range-->

            </div>
        </div>


        <div class="col-sm-9 padding-right">
            @if (Model.displayHome == true)
            {
                <div class="items_grid">
                    <!--new_items-->
                    <h2 class="title text-center">Nowości</h2>

                    @foreach(var item in Model.NewItems)
                    {
                        <div class="col-sm-4">
                            <div class="single-item">
                                <div class="productinfo text-center">
                                    <img src="@item.ImageURL" alt="" />
                                    <h2>@item.Price</h2>
                                    <p>@item.Name</p>
                                </div>
                            </div>
                        </div>
                    }               
                </div><!--new_items-->

                <hr />

                <!--special_offers-->
                <div class="items_grid"> 
                    <h2 class="title text-center">Promocje</h2>

                    @foreach(var item in Model.SpecialOfferItems)
                    {
                        <div class="col-sm-4">
                            <div class="single-item">
                                <div class="productinfo text-center">
                                    <img src="@item.ImageURL" alt="" />
                                    <h2>@item.prevPrice zł</h2>
                                    <p>@item.Name</p>
                                </div>
                            </div>
                        </div>
                    }   

                    <div class="show_more"><button type="button" class="btn btn-default get show_more">Zobacz więcej</button></div>
                </div><!--special_offers-->
                            
                <hr />

                <div class="top_ten">
                    <!--top_ten-->
                    <h2 class="title text-center">10 najczęściej kupowanych produktów</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-4">                                    
                                    <div class="single-item">
                                        <div class="productinfo text-center">
                                            <img src="~/images/home/recommend1.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>                                                
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">                                    
                                    <div class="single-item">
                                        <div class="productinfo text-center">
                                            <img src="~/images/home/recommend2.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>                                                
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">                                    
                                    <div class="single-item">
                                        <div class="productinfo text-center">
                                            <img src="~/images/home/recommend3.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-4">                                    
                                    <div class="single-item">
                                        <div class="productinfo text-center">
                                            <img src="~/images/home/recommend1.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>                                                
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">                                    
                                    <div class="single-item">
                                        <div class="productinfo text-center">
                                            <img src="~/images/home/recommend2.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>                                                
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">                                    
                                    <div class="single-item">
                                        <div class="productinfo text-center">
                                            <img src="~/images/home/recommend3.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/top_ten-->
            } else
            {
                @foreach(var item in Model.ItemsByCategory)
                {
                    <div class="col-sm-4">                         
                        <div class="single-item">
                            <div class="productinfo text-center">
                                <img  src="@item.ImageURL" alt="" />
                                <h2>@item.Price</h2>
                                <p>@item.Name</p>                                   
                            </div>                                  
                        </div>                           
                    </div>
                }
            
            }


        </div>
    </div>
</div>

